doctype html
html(lang='en')
  head
    title ToDo Manager
    include includes/styles
  body
    .container
      include includes/header
      block header
      block content
    //-   include includes/footer
    include includes/scripts



